@media print {
    .container {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }

    .print {
        position: absolute;
        display: block;
        text-align: left !important;
        margin-top: (var(--print-margin-top)) !important;
        margin-left: (var(--print-margin-left)) !important;
    }

    .print-item {
        margin-bottom: (var(--print-item-margin-bottom)) !important;
        transform: scale(var(--scale));
    }
    
    .print-item:nth-child(4n) {
        margin-top: 0px !important;
        page-break-after: auto;
    }
    .noprint {
        display: none;
    }
    .noprint-image {
        visibility: hidden;
    }

    @page {
        margin: 0;
        margin-right: -13px;
        margin-bottom: -100px;
        padding: 0;
    }
}


@media only screen {
    .print {
        display: none;
    }
}

